<div class ="show-main">
                  <div class="title-name-show">
                     タイトル:<%= @question.title %>
                  </div>
                  </div>
                  <div class="question-bottom-show">
                     質問内容:<%= @question.content %>
                  </div>
                  <div class="question-top">
                   <div class="questioner-show">
                       投稿者名:<%= @question.name %>
                   </div>
                  </div>
              
</div>